h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

ul {
    padding-left: 0;
}

img {
    display: block;
}

a {
    display: block;
}

.list {
    list-style: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (max-width: 480px) {
        width: 480px;
    }
}
    
.section {
    padding: 94px 0px;
    

}

